:root{--qf-greyGreen: #2e644a;--qf-green: #006400;--pf-orange: #ff8c00}a{color:#fd7a01;text-decoration:none;-webkit-transition:color .3s ease;-moz-transition:color .3s ease;transition:color .3s ease}
